

.dashboard-navbar {
    
    background-color: rgba(38, 39, 41, 0.8);
    padding: 1rem 2rem;   
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(57, 255, 20, 0.2); /* Neon Green glow */
  }
  
  .dashboard-nav-links {
    list-style: none;
    display: flex;
    gap: 12rem;
    margin: 0;
    padding: 0;
  }
  
  .dashboard-link {
    color: rgb(255, 255, 255);
    
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
  }
  
  .dashboard-link::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #39ff14; /* Neon Green */
    transition: width 0.3s ease;
  }
  
  .dashboard-link:hover {
    color: #39ff14;
  }
  
  .dashboard-link:hover::after {
    width: 100%;
  }
  
  .dashboard-link.active {
    color: #39ff14;
  }
  